
<div class="center-confirm">
	<h1>Are you sure?</h1>
	<h2>This code snippet could potentially help solve world hunger.. just saying.</h2>
	<div class="vertical-form-spacer"></div>
	<%= link_to "Cancel", user_path(@user), class: 'btn btn-default' %> <%= link_to 'Delete Snippet', confirm_delete_snippet_path, class: 'btn btn-danger' %>
</div>