<% @snippets.each do |s| %>
	<div>
		<hr>
	    <h3><%= link_to s.title, snippet_path(s.id) %></h3>
		<h4>By: <%= link_to s.user.username, user_path(s.user) %></h4>
		<textarea disabled><%= s.content %></textarea>
	</div>
<% end %>


<script>
	$(function(){
		$.each($('textarea'), function( i, val ) {
			var myTextArea = val;
			var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
				lineNumbers: true,
				theme: 'monokai',
				lineWrapping: true,
				readOnly: true
			});
		});
	})
</script>