<h1>Snippet Title: <%= @snippet.title %></h1>
<textarea disabled><%= @snippet.content %></textarea>
<% if logged_in? && current_user.id.to_s == params[:user_id].to_s %>
	<%= link_to 'Edit', edit_user_snippet_path %>
<% end %>