<div class="center-confirm">
    <h1>Are You Sure You Want To Delete Your Account?</h1>
    <h2>This can't be undone, all your snippets will be lost forever, leaving you sad and snippet-less.</h2>
	<div class="vertical-form-spacer"></div>
    <%= link_to "Cancel", user_path, class: 'btn btn-default' %> <%= link_to 'Delete Account', confirm_delete_user_path, class: 'btn btn-danger' %>
</div>
