<h1>Are You Sure You Want To Delete Your Account?</h1>
<h2>This Can't Be Undone, all your data will be lost.</h2>

<%= link_to "Cancel", user_path %> | <%= link_to 'Delete Account', confirm_delete_user_path %>