<% @users.each do |u| %>
	<div class="user">
		<h3><%= u.username %></h3>
		<ul>Snippets (<%= u.snippets.count %>):
		    <% u.snippets.each do |s| %>
		        <li><%= s.title %></li>
		    <% end %>
		</ul>
		<p>Github: <%= link_to "#{u.github_username}", "http://github.com/#{u.github_username}", target: '_blank' %></p>
	</div>
<% end %>