/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require codemirror
 *= require codemirror/themes/monokai
 *= require codemirror/themes/base16-light
 *= require codemirror/addons/dialog/dialog.css
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import 'bootswatch';

body {
  padding-top: 75px;
}

.header-nav {
  border-radius:0!important
}

.navbar-brand img {
  width:90px;
}

#flash-container {
  position: absolute;
  padding: 10px 30px;
  width: 100%;
  z-index: 99999;
  top: -100px;
}

.flash-msg {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

//override success navbar link:
.navbar-default .navbar-nav > li > a.btn-success:hover{
  background-color:#169E84;
  color:#FFF;
}

//utility classes

.center-confirm {
  text-align:center
}
.vertical-form-spacer {
  height:0;
  margin-top:75px;
}

.ml-5 {
  margin-left:5px;
}

.align-right {
  text-align:right
}

//media queries
@media (max-width: 767px) {
  .vertical-form-spacer {
    display:none
  }
  .jumbotron {
    padding:15px;
  }
}