// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CodeMirror {
  font-size:18px;
  height:auto;
  margin-bottom:10px;
  border-radius: 5px;
}

.snippet {
  padding: 20px 0;
  margin-top: 40px;
  border-bottom:1px solid #dadada;
}

.comments,.leave-comment {
  padding-top:40px;
}

.row-title {
  text-align:right;
}

.user-posted {
  text-align:right;
}
.snippets .snippet:last-child {
  border-bottom:none!important;
}

.snippet h1{
  margin-top:0
}