// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CodeMirror {
  font-size:18px;
  height:auto
}

.snippet {
  margin-top: 40px;
}

.snippet h3{
  margin-top:0
}