// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.CodeMirror {
  font-size:18px;
  height:auto;
  margin-bottom:10px;
  border-radius: 5px;
}

.snippet {
  padding: 20px 0;
  margin-top: 40px;
  border-bottom:1px solid #dadada;
}

 .leave-comment {
   padding:30px 0;
   border-bottom:1px solid #dadada;
}

.previous-comments {
  margin-top:30px;
}

.comments {
  margin-top:20px
}

#new_comment .CodeMirror,.comment .CodeMirror{
  //min-height:150px;
  border:1px solid #dadada
}

.comment {
  margin-bottom:30px;
}

.row-title {
  text-align:right;
}

.user-posted {
  text-align:right;
}
.snippets .snippet:last-child {
  border-bottom:none!important;
}

.snippet h1,.row-title h3{
  margin-top:0
}