// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* USER PROFILE PAGE */
.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  //text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 160px;
  position:absolute;
  width:100%
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  //position: absolute;
  //top: 15px;
}

.user-info {
  //position:absolute;
  //top:0;
  padding-top:30px
}

.user-meta {
  color:#FFF;
}

.card.hovercard .useravatar {
  text-align:center;
}

.card.hovercard .useravatar img {
  width: 130px;
  height: 130px;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {

}
.card.hovercard .card-info .card-title {
  padding: 5px 10px;
  font-size: 50px;
  line-height: 1;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display:inline-block;
  clear:both;
  margin-bottom:10px
}
.card.hovercard .card-info {
  color: #737373;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}


.user-posted {
  padding-top:40px
}
.user-posted img{
  max-width:120px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.commenter-avatar {
  margin-left:10px;
}

.commenter-avatar img{
  width: 50px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}